canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#loadCanvas {
  height:100vl;
  width:100vw;
  background-color:black;
  color:white;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2 / span 5;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

body {
  background-color: black;
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  text-shadow: 3px 3px black;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 10000px;
  margin-bottom: 10000px;
}

/* .paragraph-box {
  grid-column: 2 / span 5;
  width: 50vw;
  height: 75vw;
  padding: 10px;
  background-color: darkslategrey;
  border: 5px solid gray;
  opacity: 60%;
  margin: 10px;
  margin-top: 1000px;
  margin-bottom: 1000px;
  margin-left: 5vw;
  border-radius: 25px;
  border: 2px solid navy;
}
*/

/* .flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkslategrey;
}

.flex-container > div {
  background-color: darkslategrey;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container > div > img {
  width: 75px;
  height: 75px;
  margin: 10px;
}

*/

br {
  display: block;
  margin: 10000px;
}  